body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px!important;
  -webkit-border-radius: 0px!important;
  -moz-border-radius: 0px!important;
  border-radius: 0px!important;
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input#first-name {
  margin-top: 20px;
  margin-bottom: -1px!important;
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.form-signin input#last-name {
  margin-bottom: -1px!important;
  -webkit-border-radius: 0px!important;
  -moz-border-radius: 0px!important;
  border-radius: 0px!important;
}

a#signup-link {
  display: block;
  width: 150px;
  margin: 20px auto;
  text-align: center;
}

h2.form-signin-heading {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
